.contact_form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    font-family: var(--text-font);
}
.contact_form input:focus {
    border: 1px solid var(--brown)
}
.contact_form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    font-family: var(--text-font);
    resize: none;
}
.contact_form textarea:focus {
    border: 1px solid var(--brown)
}